[Unit]
Description=Configure Webcam
After=display-manager.service

[Service]
ExecStart=/bin/bash :script
ExecReload=/bin/bash :script

[Install]
WantedBy=multi-user.target
